@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&display=swap");


$bgc-color: #F6F6F6;
$color-grey--dark: #515151;
$color-grey--light: #A2A2A2;  
$color-grey: #F6F6F6;
$color-grey--arr-btn: #CDCDCD;

$color-blue: #776CFF;
$color-blue-hover: #877DFF; 

$styles-transition: .3s;

$font: 'Poppins', sans-serif;