@import '../../../styles/mixins.scss';

.circleButton {
  border:0;
  padding: 1px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  >i {
    color: #fff;
    font-size: 10px;

    @include tablet() {
      font-size: 12px;
    }

    @include desktop() {
      font-size: 14px
    }
  }
};
